.horizontalRule {
  height: 2px;
  background-color: #e8e8e8;
  border: none;
}

.header {
  font-family: 'MontSerrat', sans-serif;
  color: #888;
  font-size: 20px;
}

.input {
  padding: 13px 26px;
  font-size: 18px;
  color: #888;
  border: 1px solid #888;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 28px;
}

.addTitle {
  width: 540px;
}

.addTitleBtn {
  padding: 17px 75px;
}

.form {
  justify-content: space-between;
  align-items: center;
  padding: 24px 55px;
  margin: 16px 22px;
}
