.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem 0.5rem 7rem;
  border-bottom: 2px solid #e8e8e8;
}

.displayFlex {
  display: flex;
  width: 50%;
}

.logo {
  font-size: 36px;
  color: #0290ff;
  margin-right: 47px;
}

.navLinks {
  list-style: none;
  display: flex;
  width: 28%;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-top: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.listItemOne {
  color: #121212;
  margin-right: 0.5rem;
}

.listItemTwo {
  color: #8b8b8b;
}

.userAvatar {
  margin-right: 6rem;
  height: 3rem;
}
